.ui.list .list > .item > .icon + .content, .ui.list .list > .item > .image + .content, .ui.list > .item > .icon + .content, .ui.list > .item > .image + .content {
    display: table-cell;
    padding: 0 0.5em 0 0.5em !important;
    vertical-align: top;
}

.white-icon-card-style{
    float: right !important;
    padding-left: 5px !important;
}

.dataTables_filter{
    float: left !important;
}

.pagination{
    float: left !important;
}

.flt-icon-for-tab{
    float: right !important;
    padding-left: 2px !important;
}
.flt-icon-panel{
    float: right !important;
    padding-left: 3px !important;
}
.t-rtl{
    float: right !important;
}
.ui.progress {
    margin: 0px !important;
}

.ui.buttons .button:first-child {
    border-bottom-left-radius: 0 !important;
    border-left: medium none;
    border-top-left-radius: 2px !important;
    margin-left: 0;
}
.ui.buttons .button:first-child {
    border-bottom-left-radius: 0 !important;
    border-left: medium none;
    border-top-left-radius: 0 !important;
    margin-left: 0;
}
.ui.buttons .button:last-child {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.ui.action.input:not([class*="left action"]) > .button:last-child, .ui.action.input:not([class*="left action"]) > .buttons:last-child > .button, .ui.action.input:not([class*="left action"]) > .dropdown:last-child {
    border-radius: 2px 0px 0px 2px !important;
}
.ui.action.input:not([class*="left action"]) > input {
    border-bottom-right-radius: 0 !important;
    border-right-color: rgba(0, 0, 0, 0.07) !important;
    border-top-right-radius: 0 !important;
}
.ui.action.input:not([class*="left action"]) > input {
    border-bottom-right-radius: 0 !important;
    border-right-color: rgba(0, 0, 0, 0.07) !important;
    border-top-right-radius: 0 !important;
}
div.dataTables_wrapper {
    direction: rtl;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
}
div.dataTables_wrapper div.dataTables_length .ui.selection.dropdown {
    margin-left: 0.3em !important;
    min-width: 0;
}
.ui.celled.table tr td:first-child, .ui.celled.table tr th:first-child {
    border-left: 1px solid rgba(34, 36, 38, 0.1) !important;
}
.ui.table thead tr:first-child > th:first-child {
    border-radius: 0 !important;
}
.ui.pagination.menu .item:last-child {
    border-radius: 0 0.285714rem 0.285714rem 0;
    border-right: 1px solid rgba(34, 36, 38, 0.1) !important;
}